<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Bowling</title>
    <link rel="stylesheet" href="/master.css">
  </head>
  <body>
    <%=  yield %>
  </body>
  <div class="">
    <footer>
      <script type="text/javascript" src="src/bowling.js"></script>
    </footer>
  </div>
</html>
